﻿@page
@using SPR.Security.Web.Services.DataModel.Clients 
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h2>Clients</h2>

<table class="table">
    <thead>
        <tr>
            <th colspan="5"/>
            <th colspan="2">
                @Html.DisplayNameFor(model => model.Clients.First().LastWarning)
            </th>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Clients.First().Enabled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clients.First().Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clients.First().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clients.First().LastUpdate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clients.First().LastVerify)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clients.First().LastWarning.InsertedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clients.First().LastWarning.Text)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Clients) {
        <tr class="@TableRowClass(item)">
            <td>
                @Html.DisplayFor(modelItem => item.Enabled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastUpdate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastVerify)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastWarning.InsertedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastWarning.Text)
            </td>
            <td>
                @*<a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a>*@

            </td>
        </tr>
        }
    </tbody>
</table>

@{ 
    bool IsWarning(ClientSummaryModel model)
    {
        return model.Enabled && DateTime.UtcNow - model.LastUpdate > TimeSpan.FromDays(2);
    }

    string TableRowClass(ClientSummaryModel model)
    {
        if (IsWarning(model))
            return "table-warning";
        else
            return "";
    }
}

<h2>Warnings</h2>

<table class="table" id="warningsTables">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Warnings.First().Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Warnings.First().InsertedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Warnings.First().Client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Warnings.First().Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Warnings.First().SourceId)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Warnings) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InsertedDate)
                </td>
                <td>
                    #@item.Client?.Id @item.Client?.Name
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SourceId)
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-page="/Warnings/Index">More...</a>