﻿@page
@model PrivacyModel
@using Microsoft.AspNetCore.Authentication
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<h2>Access token</h2>
@ViewData["AccessToken"]

<h2>User id</h2>
@ViewData["UserId"]

<h2>User identity name</h2>
@ViewData["UserIdentity.Name"]

<h2>Claims</h2>

<dl>
    @foreach (var claim in User.Claims) {
        <dt>@claim.Type</dt>
        <dd>@claim.Value</dd>
    }
</dl>

<h2>Properties</h2>

<dl>
    @foreach (var prop in (await HttpContext.AuthenticateAsync()).Properties.Items) {
        <dt>@prop.Key</dt>
        <dd>@prop.Value</dd>
    }
</dl>