﻿@using SPR.Security.Web.Services.DataModel.Errors
@model ErrorItemModel

<label class="font-weight-bold">@Html.DisplayNameFor(model => model.InsertedDate)</label>
<p>@Html.DisplayFor(model => model.InsertedDate)</p>

<label class="font-weight-bold">@Html.DisplayNameFor(model => model.Name)</label>
<p>@Html.DisplayFor(model => model.Name)</p>

<label class="font-weight-bold">@Html.DisplayNameFor(model => model.Message)</label>
<p>@Html.DisplayFor(model => model.Message)</p>

<label class="font-weight-bold">@Html.DisplayNameFor(model => model.Trace)</label>
<p>@Html.DisplayFor(model => model.Trace)</p>

<label class="font-weight-bold">@Html.DisplayNameFor(model => model.Request)</label>
<p>@Html.DisplayFor(model => model.Request)</p>