﻿@using SPR.Security.Web.Services.DataModel.Errors;
@model (IEnumerable<ErrorTableModel> List, bool Exhausted)
@{ 
    long? lastId = null;
}

@foreach (var item in Model.List) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InsertedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Message)
        </td>
        <td>
            <button type="button" class="btn btn-xs btn-link" data-toggle="modal" data-target="#myModal" data-id="@item.Id">
                Details
            </button>
        </td>
    </tr>
    lastId = item.Id;
}

@if (!Model.Exhausted) {
<tr>
    <td colspan="4">
        <a id="next_errors_ref" onclick="loadRows('next_errors_ref', 'errorsTables', '/Errors/List/@lastId')" href="#">Next rows</a>
    </td>
</tr>
}
