﻿@page "{handler?}/{id?}"
@using System.Linq
@model SPR.Security.Web.Pages.Errors.IndexModel
@{
}

<table class="table" id="errorsTables">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Errors.First().Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Errors.First().InsertedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Errors.First().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Errors.First().Message)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @await Html.PartialAsync("_ErrorsTableRows", (Model.Errors, false))
    </tbody>
</table>

<!-- Modal window -->
<div id="myModal" class="modal fade" tabindex="-1" role="document">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Error #</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

@section Scripts {
    <script src="~/js/errors.js" asp-append-version="true"></script>
}