﻿@using SPR.Security.Web.Services.DataModel.Interactions;
@model (IEnumerable<WarningModel> List, bool Exhausted, long? ClientId)
@{
    long? lastId = null;
}

@foreach (var item in Model.List) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Id)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.InsertedDate)
    </td>
    @if (Model.ClientId == null) {
        <td>            
            #@item.Client?.Id @item.Client?.Name
        </td>
    }
    <td>
        @Html.DisplayFor(modelItem => item.Text)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.SourceId)
    </td>
    <td>
        @*<button type="button" class="btn btn-xs btn-link" data-toggle="modal" data-target="#myModal" data-id="@item.Id">
                Details
            </button>*@
    </td>
</tr>
    lastId = item.Id;
}

@if (!Model.Exhausted) {
    var queryArgs = string.Empty;
    if (Model.ClientId != null)
        queryArgs = $"?clientId={Model.ClientId.Value}";

    <tr>
        <td colspan="4">
            <a id="next_warnings_ref" onclick="loadRows('next_warnings_ref', 'warningsTables', '/Warnings/List/@lastId@queryArgs')" href="#">Next rows</a>
        </td>
    </tr>
}