﻿@page "{handler?}/{id?}"
@model SPR.Security.Web.Pages.Warnings.IndexModel
@{
}

@if (Model.Client != null) {
    <h2>Client #@Model.Client.Id @Model.Client.Name</h2>
}

<table class="table" id="warningsTables">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Items.First().Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items.First().InsertedDate)
            </th>
            @if (Model.ClientId == null) {
                <th>
                    @Html.DisplayNameFor(model => model.Items.First().Client)
                </th>
            }
            <th>
                @Html.DisplayNameFor(model => model.Items.First().Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Items.First().SourceId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @await Html.PartialAsync("_WarningsTableRows", (Model.Items, false, Model.ClientId))
    </tbody>
</table>

@section Scripts {
    <script src="~/js/warnings.js" asp-append-version="true"></script>
}