﻿@page "{id:int}"
@model SPR.Security.Web.Pages.Client.DetailsModel
@{
}

<h1>
    Client @Html.DisplayFor(p => p.Client.Name)
</h1>

<h2>
    Tokens
</h2>
@await Html.PartialAsync("_TokensTable", Model.Tokens)

<h2>
    Warnings
</h2>
@await Html.PartialAsync("_WarningsTable", Model.Warnings)

<h2>
    Verify
</h2>
@await Html.PartialAsync("_VerifyHistoryTable", Model.VerifyHistory)
