﻿@page "{id:int}"
@model SPR.Security.Web.Pages.Client.EditModel
@{
}

<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input asp-for="Client.Id" type="hidden" />

            <div class="form-group">
                <label asp-for="Client.InsertedDate" class="control-label"></label>
                <input asp-for="Client.InsertedDate" class="form-control-plaintext" readonly="readonly" />
            </div>

            <div class="form-group">
                <label asp-for="Client.Name" class="control-label"></label>
                <input asp-for="Client.Name" class="form-control" />
                <span asp-validation-for="Client.Name" class="text-danger"></span>
            </div>

            <div class="form-check">
                <input asp-for="Client.Enabled" class="form-check-input" />
                <label asp-for="Client.Enabled" class="form-check-label"></label>
                <span asp-validation-for="Client.Enabled" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Client.Key" class="control-label"></label>
                <input asp-for="Client.Key" class="form-control" />
                <span asp-validation-for="Client.Key" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Client.VerifyToken" class="control-label"></label>
                <input asp-for="Client.VerifyToken" class="form-control" />
                <span asp-validation-for="Client.VerifyToken" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}