﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@using SPR.Security.Web.Services.DataModel.Interactions;
@model IList<TokenModel>

@{
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Ver)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].IpAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].MacAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].IssueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].ExpireIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].VerifyToken)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ver)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IpAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MacAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IssueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpireIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VerifyToken)
            </td>
        </tr>
        }
    </tbody>
</table>
