﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@using SPR.Security.Web.Services.DataModel.Interactions;
@model IList<WarningModel>

@{
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].InsertedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].VerifyId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].SourceId)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InsertedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VerifyId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SourceId)
            </td>
        </tr>
        }
    </tbody>
</table>
